html {
	background-color: #fcf7f0;
}

.logo {
	width: 30%;
	min-width: 300px;
	display: block;
    margin: auto;
    padding-top: 15%;
}

.social {
	width: 25%;
	min-width: 300px;
	display: block;
    margin: auto;
    padding-top: 15px;
}

.social-icon {
	width: 50%;
	transition: transform .5s;
}

.social-icon:hover {
	transform: translateY(-10px);
}

td {
	text-align: center;
}